# Preliminary Information

### Name: TELOSA, Arwyn Gabrielle A.

### Course: BSCS Major in Network and Information Security (NIS)

# Zomato Exercise

Zomato is a restaurant aggregator website. The platform provides information, menus and user-reviews of restaurants as well as food delivery options from partner restaurants in select cities. You have been provided 3 datasets:

- zomato.csv contains restaurant information like average_cost_for_two, cuisines
- location.csv contains location of the restaurants like address, city, locality & etc
- ratings.csv contains aggregate rating for each restaurant

The different files are connected using the `id` columns which can be found in the different files. The id column is a unique identifier to represent a restaurant. You can use this to **merge** the different files.

In [ ]:
import pandas as pd
import numpy as np

1. Merge the zomato, location & ratings file into a signle dataframe and store it to the `merged_df` variable **(3pts)**

In [ ]:
zomato_df = pd.read_csv('zomato.csv')

In [ ]:
location_df = pd.read_csv('location.csv')

In [ ]:
ratings_df = pd.read_csv('ratings.csv')

In [ ]:
merged_df = pd.merge(zomato_df, location_df, on='id') 
merged_df = pd.merge(merged_df, ratings_df, on='id')

In [ ]:
assert (6830, 35)==merged_df.shape

cols = ['id', 'address', 'city', 'city_id', 'country_id', 'latitude',
       'locality', 'locality_verbose', 'longitude', 'zipcode',
       'aggregate_rating', 'rating_color', 'rating_text', 'votes',
       'average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
       'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view',
       'is_delivering_now', 'is_table_reservation_supported',
       'is_zomato_book_res', 'menu_url', 'mezzo_provider', 'name',
       'photos_url', 'price_range', 'thumb', 'url']

assert sorted(merged_df.columns) == sorted(cols)

2. Create a function that returns the average aggregate rating for each city. Expected returned value is a Series datatype which contains name of city as index and average aggregate rating as value. **(2pts)**

In [ ]:
def exercise_2(merged_df):
    average_ratings = merged_df.groupby('city')['aggregate_rating'].mean() 
    return average_ratings

In [ ]:
res_series = exercise_2(merged_df)
assert True == np.isclose(3.302075, res_series[res_series.index == 'Pasay City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(1.890741, res_series[res_series.index == 'Valenzuela City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(1.558333, res_series[res_series.index == 'Malabon City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]

3. Using the apply function of pandas convert the rating_text to a numeric equivalent. You are to introduce a new column in merged_df called `rating_numeric` which is based on the value from rating_text: **(3pts)**

Excellent = 5 <br>
Very Good = 4 <br>
Good = 3 <br>
Average = 2 <br>
Poor = 1 <br>
Not rated = 0 <br>

In [ ]:
def rating_to_numeric(rating):
    if rating == 'Excellent':
        return 5
    elif rating == 'Very Good':
        return 4
    elif rating == 'Good':
        return 3
    elif rating == 'Average':
        return 2
    elif rating == 'Poor':
        return 1
    elif rating == 'Not rated':
        return 0
    else:
        return None  

merged_df['rating_numeric'] = merged_df['rating_text'].apply(rating_to_numeric)

In [ ]:
assert 868 == merged_df[merged_df.rating_numeric == 0].shape[0]
assert True == ('rating_numeric' in merged_df.columns)

4. Create a function which filters the merged dataframe to only contain rows coming in from a specific city. Expected returned value is a dataframe **(2pts)**

In [ ]:
def exercise_4(merged_df, city):
    filtered_df = merged_df[merged_df['city'] == city].copy()
    return filtered_df

In [ ]:
assert 'Makati City' == exercise_4(merged_df, 'Makati City').city.unique()[0]
assert (976, 36) == exercise_4(merged_df, 'Makati City').shape

assert 'Mandaluyong City' == exercise_4(merged_df, 'Mandaluyong City').city.unique()[0]
assert (443, 36) == exercise_4(merged_df, 'Mandaluyong City').shape

assert (0, 36) == exercise_4(merged_df, 'Quezon  City').shape

5. Create a function to filter the dataframe to only contain certain columns passed in the function. Expected returned value is a dataframe **(1pt)**

In [ ]:
def exercise_5(merged_df, cols_to_filter):
    filtered_df = merged_df[cols_to_filter].copy()
    return filtered_df

In [ ]:
cols = ['name', 'cuisines', 'city', 'aggregate_rating']
assert sorted(cols) == sorted(exercise_5(merged_df, cols).columns)
assert (6830, 4) == exercise_5(merged_df, cols).shape

cols = ['average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
       'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view']
assert sorted(cols) == sorted(exercise_5(merged_df, cols).columns)
assert (6830, 11) == exercise_5(merged_df, cols).shape

6.  What is the most common restaurant name in the dataset? **(2pts)** Write down your answer and show code used to come up with the answer.

In [ ]:
most_common_name = merged_df['name'].value_counts().idxmax()
count = merged_df['name'].value_counts().max()

print(f"Most Common Restaurant: {most_common_name}")
print(f"Count: {count}")

7. Which restaurant has the most expensive average cost for two? **(2pts)** Write down your answer and show code used to come up with the answer.

In [ ]:
merged_df['average_cost_for_two'] = pd.to_numeric(merged_df['average_cost_for_two'], errors='coerce')

merged_df = merged_df.dropna(subset=['average_cost_for_two'])

max_cost = merged_df['average_cost_for_two'].max()

most_expensive_restaurants = merged_df[merged_df['average_cost_for_two'] == max_cost]

print("The restaurant(s) with the most expensive average cost for two:")
for index, row in most_expensive_restaurants.iterrows():
    print(f"Name: {row['name']}, Average Cost for Two: {row['average_cost_for_two']}")

8. How many restaurants do not have a zipcode? **(1pt)** Write down your answer and show code used to come up with the answer.

In [ ]:
num_no_zipcode = merged_df['zipcode'].isnull().sum()

print(f"Restaurants w/o Zip Code: {num_no_zipcode}")

9. How many restaurants in the dataset allow online delivery? **(1pt)** Write down your answer and show code used to come up with the answer.

In [ ]:
print("Unique values in 'has_online_delivery' column:")
print(merged_df['has_online_delivery'].unique())

num_online_delivery = merged_df[merged_df['has_online_delivery'] == 1].shape[0]

print(f"\nRestaurants  w/ Online Delivery: {num_online_delivery}")

10. Which locatlity has more expensive food? Poblacion or Salcedo Village? **(3pts)** Write down your answer and show code used to come up with the answer.

In [ ]:
merged_df['average_cost_for_two'] = pd.to_numeric(merged_df['average_cost_for_two'], errors='coerce')

merged_df = merged_df.dropna(subset=['average_cost_for_two', 'locality'])

poblacion_df = merged_df[merged_df['locality'] == 'Poblacion']

salcedo_df = merged_df[merged_df['locality'] == 'Salcedo Village']

avg_cost_poblacion = poblacion_df['average_cost_for_two'].mean()
avg_cost_salcedo = salcedo_df['average_cost_for_two'].mean()

print(f"Poblacion: {avg_cost_poblacion:.2f}")
print(f"Salcedo Village: {avg_cost_salcedo:.2f}")

if avg_cost_poblacion > avg_cost_salcedo:
    print("\nPoblacion has more expensive food than Salcedo Village.")
elif avg_cost_poblacion < avg_cost_salcedo:
    print("\nSalcedo Village has more expensive food than Poblacion.")
else:
    print("\nBoth Poblacion and Salcedo Village have the same average cost for food.")

# CODE EXPLANATIONS

## Question 1

I started by reading the.csv files into their own data frames. Then I merged the zomato and location data frames on their id, and then the current merged data frame was merged to the ratings on their id.

## Question 2

To determine the average aggregate for each city, I grouped the ratings by city and took the mean.

## Question 3

The function I built translates textual ratings (e.g., Excellent, Very Good) into the values listed above. It then applies the method to the combined data frame's rating_text column, resulting in a new column called rating_numeric with the converted values.

## Question 4

Only the rows in the merged data frame where the city column matches the passed-in specified city parameter are included by the function.

## Question 5

From the combined data frame, the function simply chooses and returns a copy of the designated columns. The filtered data frame's same chosen columns are returned.

## Question 6

Using value_counts(), the code determines which restaurant name appears the most frequently in the merged data frame's column. The most often occurring restaurant and the number of times it appears in the data frame are indicated by the values of both variables.

## Question 7

The merged data frame's average_cost_for_two column is first converted to numeric values by the code. Any non-numeric entries have to be replaced by Nan, who then removes rows from this column that have missing values. After determining the highest average cost for two, the code filters the data frame to locate the restaurants that charge this much.

## Question 8

Using isnull().sum, the code determines the number of missing values, or Nan, in the merged data frame's zip code column.

## Question 9

In order to display the various recorded responses, the code first prints the unique values in the has_online_delivery column of the dataset. Next, it outputs the count of restaurants that accept online deliveries.

## Question 10

The code removes any rows with missing values from the locality or average_cost_for_two columns and changes the average_cost_for_two column in the merged_df to numeric format. The average price for two meals at each locality is then determined by creating distinct data frames for each restaurant in Poblacion and Salcedo Village, and the results are then compared. It establishes which locality has more expensive food or whether their average costs are equal based on the comparison of typical costs.